In [1]:
import pandas as pd

In [9]:
# Read in vine_table as a dataframe
vine_df = pd.read_csv("vine_table.csv", index_col=0)
vine_df

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
RMDCHWD0Y5OZ9           3.0            0.0          1.0    N                 N
RZSL0BALIYUNU           5.0            0.0          0.0    N                 Y
RIZR67JKUDBI0           3.0            0.0          1.0    N                 Y
R27HL570VNL85F          5.0            0.0          0.0    N                 Y
R34EBU9QDWJ1GD          5.0            0.0          0.0    N                 Y
...                     ...            ...          ...  ...               ...
R6MDTUK723YPY           4.0          143.0        148.0    N                 N
R10B4417NCK98O          5.0           24.0         24.0    N                 N
R3V2A0GUZ3JAQ4          4.0           27.0         29.0    N                 N
R1VYXC7FFG4LGH          4.0           46.0         49.0    N                 N
R2XJJXFZOM36V5          5.0           17.0         19.0    N                 N

[904765 rows x 5 columns]

In [11]:
filtered_vine_df = vine_df[vine_df["total_votes"] >= 20]
filtered_vine_df

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R2243Y3OD8U6KQ          5.0           47.0         61.0    N                 N
R2TGT0CDTCAAHW          5.0           21.0         23.0    N                 Y
RX4D22YSXEF4P           1.0           37.0         38.0    N                 Y
R3FL2NTLFUSPTQ          5.0           33.0         37.0    N                 N
R3QTP3YNZXAPPF          3.0           23.0         24.0    N                 Y
...                     ...            ...          ...  ...               ...
R2EJ952S3YK254          4.0           46.0         47.0    N                 N
R6MDTUK723YPY           4.0          143.0        148.0    N                 N
R10B4417NCK98O          5.0           24.0         24.0    N                 N
R3V2A0GUZ3JAQ4          4.0           27.0         29.0    N                 N
R1VYXC7FFG4LGH          4.0           46.0         49.0    N                 N

[16520 rows x 5 columns]

In [13]:
helpful_percentage_df = filtered_vine_df[(filtered_vine_df["helpful_votes"]/filtered_vine_df["total_votes"])*100 >=50]
helpful_percentage_df

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R2243Y3OD8U6KQ          5.0           47.0         61.0    N                 N
R2TGT0CDTCAAHW          5.0           21.0         23.0    N                 Y
RX4D22YSXEF4P           1.0           37.0         38.0    N                 Y
R3FL2NTLFUSPTQ          5.0           33.0         37.0    N                 N
R3QTP3YNZXAPPF          3.0           23.0         24.0    N                 Y
...                     ...            ...          ...  ...               ...
R2EJ952S3YK254          4.0           46.0         47.0    N                 N
R6MDTUK723YPY           4.0          143.0        148.0    N                 N
R10B4417NCK98O          5.0           24.0         24.0    N                 N
R3V2A0GUZ3JAQ4          4.0           27.0         29.0    N                 N
R1VYXC7FFG4LGH          4.0           46.0         49.0    N                 N

[14537 rows x 5 columns]

In [61]:
paid_reviews_df = helpful_percentage_df[helpful_percentage_df["vine"] == "Y"]
paid_reviews_df.head(10)

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R1R9RU7JW0MFR2          4.0           20.0         23.0    Y                 N
R19EFYNN3W8Q07          5.0           26.0         32.0    Y                 N
R34DJ1R8AEU0SG          5.0           29.0         35.0    Y                 N
R25P5CXK5L9RHF          5.0          146.0        161.0    Y                 N
R2E9VZB3I4LSN5          5.0           55.0         59.0    Y                 N
RKYLHZL7EPELX           4.0           19.0         25.0    Y                 N
R1U13EKGQD3ZE6          5.0           22.0         25.0    Y                 N
RYW05F1MUEF01           5.0           87.0        102.0    Y                 N
R2SW4NXNO7HZJ5          4.0           28.0         33.0    Y                 N
R2016NFLSUR97Y          2.0           26.0         37.0    Y                 N

In [62]:
unpaid_reviews_df = helpful_percentage_df[helpful_percentage_df["vine"] == "N"]
unpaid_reviews_df.head(10)

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R2243Y3OD8U6KQ          5.0           47.0         61.0    N                 N
R2TGT0CDTCAAHW          5.0           21.0         23.0    N                 Y
RX4D22YSXEF4P           1.0           37.0         38.0    N                 Y
R3FL2NTLFUSPTQ          5.0           33.0         37.0    N                 N
R3QTP3YNZXAPPF          3.0           23.0         24.0    N                 Y
R36V6V42VN5AS5          5.0           34.0         37.0    N                 Y
R27LZWE27BJPOB          5.0           22.0         23.0    N                 N
R1P7GJ0IN2BRNH          5.0           37.0         37.0    N                 Y
R2R6JPF9KOD2HJ          5.0           19.0         20.0    N                 Y
R2J0ZZGFXKM8KR          2.0           21.0         22.0    N                 Y

In [51]:
# Total reviews
total_reviews = len(helpful_percentage_df)
# Total five star reviews
five_star_reviews = len(helpful_percentage_df[helpful_percentage_df["star_rating"] == 5.0])
# Total paid reviews
total_paid = len(paid_reviews_df)
# Total unpaid reciews
total_unpaid = len(unpaid_reviews_df)
# Total five star reviews - paid
total_five_star_paid = len(paid_reviews_df[paid_reviews_df["star_rating"] == 5.0])
# Total five star reciews - unpaid
total_five_star_unpaid = len(unpaid_reviews_df[unpaid_reviews_df["star_rating"] == 5.0])

# Percent total paid five star reviews
five_star_paid_percentage = f"{total_five_star_paid/total_paid * 100:.0f}%"
five_star_unpaid_percentage = f"{total_five_star_unpaid/total_unpaid * 100:.0f}%"
five_star_unpaid_percentage

'57%'

In [58]:
total_five_star_unpaid

8212